<li class="list-group-item bg-main px-0">
  <div class="d-md-flex bd-highlight">
    <div class="mr-auto  bd-highlight col-lg-6">
      <h6 class="card-title text-center text-white">{{track['name']}}</h6>
        <app-video class="row" [track]="track" ></app-video>
    </div>    
    <div class="bd-highlight m-1 col-lg-6 d-flex align-items-center  ">
      <div class="col-12 d-flex justify-content-around">
        <!-- <button type="button" class="btn  m-1 text-secondary bg-white" id="{{track['name']}}" title="{{track['artist'].name}}" name="{{track.id}}" (click)="playTrack($event)"><i class="fas fa-play"></i></button> -->
        <button type="button" class="btn  icons-mini-size m-1 text-success bg-transparent" (click)="liked(track.id)"><i class="fas fa-heart"></i></button>
        <button type="button" class="btn  icons-mini-size m-1 text-danger bg-transparent" (click)="notLiked(track.id)"><i class="fas fa-thumbs-down"></i></button>
        <button type="button" class="btn m-1 bg-transparent text-white">{{track.likes}}</button>
      </div>
    </div>
  </div>
</li>