/* You can add global styles to this file, and also import other style files */
.bg-main {
  background-color: #D5DEE1;
}

.card {
  border: none !important;
}
.bg-main {
  background-color: #3A1833 !important;
}
.icons-size {
  font-size: 2rem;
}
.icons-mini-size {
  font-size: 1.5rem;
}